<!DOCTYPE html>
<html>
	<head>
		<title>Grid</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!--
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
		-->
		<link href="styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>

		<section class="midContainer greyBg O365BusinessEssentialSection">
			<div class="container productDetails">
			
				<div class="row nomargin planDetailsO365BusinessEssentials">
					<div class="businessEssentialsCol">
						<div class="heading">
							<img src="img/Email-and-Calendars.png" alt="Generic placeholder image">
							<div>Email and Calendars</div>
						</div>
						<p class="content">Use business-class email through a rich and familiar Outlook experience...</p>
					</div>
					
					<div class="businessEssentialsCol">
						<div class="heading">
							<img src="img/Online-Canferencing.png" alt="Generic placeholder image">
							<div>Online Conferencing</div>
						</div>
						<p class="content">Host online meetings with audio and video using one-click screen sharing and HD video conferencing.</p>
					</div>
					
					<div class="businessEssentialsCol">
						<div class="heading">
							<img src="img/Instant-messaging-and-Skype-connectivity.png" alt="Generic placeholder image">
							<div>Instant messaging and Skype</div>
						</div>
						<p class="content">Connect with other Skype for Business users via instant message, voice calls, and video calls...</p>
					</div>
					
					<div class="businessEssentialsCol">
					 <div class="heading ">
						<img src="img/Office-Online.png " alt="Generic placeholder image ">
						<div>Office Online</div>
						</div>
						<p class="content">Create and edit Word, OneNote, PowerPoint, and Excel documents from a browser. Learn more</p>
					</div>
					
					<div class="businessEssentialsCol">
						<div class="heading">
							<img src="img/File-storage-and-sharing.png" alt="Generic placeholder image">
							<div>Cloud Storage</div>
						</div>
						<p class="content">OneDrive for Business provides 1 TB of storage for each user for virtually anywhere access to their documents.</p>
					</div>
					
					<div class=" businessEssentialsCol">
					 <div class="heading">
						<img src="img/Team-Sites.png " alt="Generic placeholder image ">
						<div>Team Sites</div>
						</div>
						<p class="content">Enable easy access and sharing of documents with 10 GB baseline storage plus 500 MB of storage per user.</p>
					</div>
					
					<div class="businessEssentialsCol">
						<div class="heading">
							<img src="img/Corporate-Social-Network.png" alt="Generic placeholder image">
							<div>Corporate Social Network</div>
						</div>
						<p class="content">Yammer collaboration software and business applications allow your employees to connect with the right people...</p>
					</div>
					
					<div class="businessEssentialsCol">
					 <div class="heading">
						<img src="img/Professional-digital-storytelling.png" alt="Generic placeholder image ">
						<div>Professional digital storytelling</div>
						</div>
						<p class="content">With Sway, a new Office 365 app, you can easily create engaging, interactive web-based reports, presentations, newsletters...</p>
					</div>
					
				</div>
			</div>
		</section>
	</body>
</html>