<!DOCTYPE html>
<html>
	<head>
		<title>Grid</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!--
		<link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="compiled.css" rel="stylesheet" type="text/css" />
		<link href="plan.css" rel="stylesheet" type="text/css" />
		<link href="product.css" rel="stylesheet" type="text/css" />
		<link href="footer.css" rel="stylesheet" type="text/css" />
		-->
		<link href="styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>

		<footer class="wrapper footer-wrap col-md-12 p-l-n p-r-n">

			<section class="inner" >
				<div class="footer-col-01">
					<h5 class="VodafoneRg gray-text">VODAFONE CLOUD</h5>
					<a class="gray-text">About Vodafone Cloud</a>
					<a class="gray-text">Partner with Us</a>
				</div>
					
				<div class="footer-col-02">
						<h5 class="VodafoneRg gray-text">Products</h5>
						<a class="gray-text">Internet Presence</a>
						<a class="gray-text">Security</a>
						<a class="gray-text">Domains</a>
				 </div>
				 
				 <div class="footer-col-03">
					
						<h5 class="VodafoneRg gray-text">Support</h5>
						<a class="gray-text">FAQs</a>
						<a class="gray-text">Case studies</a>
						<a class="gray-text">How to guides</a>
						<a class="gray-text">Legal</a>
						<a class="gray-text">Videos and Webinars</a>
						<a class="gray-text">Documentation Support</a>
						
				</div>          
					
				<div class="footer-col-04">
					<h5 class="VodafoneRg gray-text">Community</h5>
					<a class="gray-text">Blog</a>
					<a class="gray-text">Developer community</a>
					<a class="gray-text">Press and events</a>
					<a class="gray-text">Testimonials</a>
				</div>  
					
				<div class="footer-col-05">
					<h5 class="VodafoneRg gray-text">About this Site</h5>
					<a class="gray-text">Legal</a>
					<a class="gray-text">Disclaimers</a>
					<a class="gray-text">Privacy policy</a>
					<a class="gray-text">Terms & Conditions</a>
					<a class="gray-text">Customer Login</a>
					<a class="gray-text">Channel Patner Login</a>
				</div>
				<div class="clearFloat">
				</div>
			</section>
			
			<hr class="gray-border contact-top-border"  />
			<section class="inner support-contact-section" >
				<div class="support-contact">
					<p class="p-bg gray-text">Support: <span class="red-text">55666 (toll free)</span><span class="dark-gray-text">|</span><span class="red-text"> + 91 9920055666</span></p>
				</div>
				<div class="support-contact">
					<p class="p-bg gray-text">Contact Sales: <span class="red-text">1800 123 123 123​</span> </p>
				</div>
				
			</section>
			<hr class="gray-border" />
			<section class="inner footer-bottom">
				<p class="p-sm gray-text">© Vodafone India Limited, Peninsula Corporate Park, Ganpatrao Kadam Marg, Lower Parel, Mumbai - 400013 India.</p>
			</section>
		</footer>
		
	</body>
</html>