.temporary-space {
	height: 2rem;
}
p.card-text {
	min-height: 8rem;
}
.material-footer {
	margin-top: 20px;
	padding: 20px 0;
}
#slab-chart-legend {
	margin-top: 1rem;
}
.container.body{ width:100%; margin-left:-15px;}
.card img{ width:100%;}
