@charset "utf-8";
/* CSS Document */
.nav-md .container.body .col-md-3.left_col{ z-index:0;}
#menu_toggle{ color:#fff !important;}
.right_col .wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:0;
  	height:49px;
}
.right_col .nav-tabs { padding:0;}
.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background:transparent;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.well.profile_view p{
	line-height: 2.5em;
    height: 2em;
    margin: 1em 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.well.profile_view img{ width:100%; margin: 0 auto 0.75em ;}
.modal-dialog.modal-lg{ width:90%; height:auto; min-height:350px;}

.modal-dialog.modal-lg iframe{ width:100%; height:100vh;}
.modal-dialog .modal-body{ padding:0;}
.classic-tabs.tabs-cyan {
    background-color: #303F9F !important;
}
